<header class="m-page-header">
  <div class="main clearfix">
    <div class='site-logo'>
    {%- include svg/logo.svg -%}
    {%- assign __path = site.paths.base | default: site.data.variables.default.paths.base  -%}
    {%- include snippets/get-nav-url.html -%}
    {%- if site.title -%}
      <a title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
    {%- endif -%}
    </div>
    <nav>
      <ul>
        {%- assign __path = site.paths.home | default: site.data.variables.default.paths.home -%}
        {%- include snippets/get-nav-url.html -%}
        {%- assign href = __return -%}
        {%- assign __locale = site.data.locale.NAV.HOME -%}
        {%- include snippets/locale-to-string.html -%}
        <li><a href="{{ href }}">{{ __return }}</a></li>
        {%- assign __path = site.paths.all | default: site.data.variables.default.paths.all -%}
        {%- include snippets/get-nav-url.html -%}
        {%- assign href = __return -%}
        {%- assign __locale = site.data.locale.NAV.ALL -%}
        {%- include snippets/locale-to-string.html -%}
        <li><a href="{{ href }}">{{ __return }}</a></li>
        {%- for list in site.nav_lists -%}
          {%- assign __path = list.url -%}
          {%- include snippets/get-nav-url.html -%}
          {%- assign href = __return -%}
          {%- assign __locale = list.titles -%}
          {%- include snippets/locale-to-string.html -%}
          <li><a href="{{ href }}">{%- if list.title -%}{{ list.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
        {%- endfor -%}
        {%- assign __path = site.paths.rss | default: site.data.variables.default.paths.rss -%}
        {%- include snippets/get-nav-url.html -%}
        {%- assign href = __return -%}
        {%- assign __locale = site.data.locale.NAV.RSS -%}
        {%- include snippets/locale-to-string.html -%}
<!--         <li><a type="application/rss+xml" href="{{ href }}">{{ __return }}</a></li> -->
        <li><a type="application/rss+xml" href="{{ href }}"><i class="fas fa-rss"></i> </a></li>
      </ul>
    </nav>
  </div>
</header>
