<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include head.html -%}
    {%- assign __path = '/assets/css/blog.css' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <link rel="stylesheet" href="{{ __return }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <script>
      {%- include scripts/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
  </head>
  <body>
    <div class="m-page-stage js-page-stage">
      <div class="m-page-content">
        {%- include header.html -%}
        <div class="m-page-main">{{ content }}</div>
      </div>
    </div>
    {%- include footer.html -%}
    <script>
      {%- include scripts/common.js -%}
    </script>
    {%- include scripts/variables.html -%}
    {%- if page.layout == "home" -%}
      <script>
        {%- include scripts/home.js -%}
      </script>
    {%- elsif page.layout == "page" -%}
      <script>
        {%- include scripts/page-post-common.js -%}
        {%- include scripts/page.js -%}
      </script>
    {%- elsif page.layout == "post" -%}
      <script>
        {%- include scripts/page-post-common.js -%}
        {%- include scripts/lib/affix.js -%}
        {%- include scripts/lib/toc.js -%}
        {%- include scripts/post.js -%}
      </script>
    {%- elsif page.layout == "all" -%}
      <script>
        {%- include scripts/all.js -%}
      </script>
    {%- endif -%}
    {%- include markdown-enhancements.html -%}
    {%- include pageview.html -%}
    {%- include analytics.html -%}
  </body>
</html>
