---
layout: base
---
<div class="m-post">
	<div class="main clearfix js-main">
		<div class="col-2 js-col-2">
			<aside class="js-article-aside"><div class="m-toc js-toc"></div></aside>
		</div>
		<div class="col-1">
			<article class="js-article" itemscope itemtype="http://schema.org/BlogPosting">
				<meta itemprop="mainEntityOfPage" itemscope itemType="https://schema.org/WebPage"/>
				<header class="main-header">
					{%- include snippets/page-title.html -%}
					<h1 itemprop="headline" itemprop="name headline">{{ __return }}</h1>
					{%- include article-info.html -%}
				</header>
				<div class="m-article-content js-article-content" itemprop="articleBody" style="text-align: justify;">{{ content }}</div>
				<footer>
					{%- if page.modify_date -%}
						{%- assign __locale = site.data.locale.ARTICLE_DATE_FORMAT -%}
						{%- include snippets/locale-to-string.html -%}
						{%- assign date_format = __return -%}
						{%- assign __locale = site.data.locale.LAST_UPDATED -%}
						{%- include snippets/locale-to-string.html -%}
						<span>{{ __return }}
							<time datetime="{{ page.modify_date | date_to_xmlschema }}" itemprop="dateModified">{{ page.modify_date | date: date_format }}</time>
						</span>
					{%- else -%}
						<meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
					{%- endif -%}
					<div class="article-license">
						<!-- {%- include license.html -%} -->
					</div>
				</footer>
			</article>
			<div class="article-previous-next clearfix">
				{%- if page.next -%}
					{%- assign __path = page.next.url -%}
					{%- include snippets/prepend-baseurl.html -%}
					{%- assign href = __return -%}
					{%- assign __locale = site.data.locale.PREVIOUS -%}
					{%- include snippets/locale-to-string.html -%}
					<div class="article-previous"><span>{{ __return }}</span><a href="{{ href }}">{{ page.next.title }}</a></div>
				{%- endif -%}
				{%- if page.previous -%}
					{%- assign __path = page.previous.url -%}
					{%- include snippets/prepend-baseurl.html -%}
					{%- assign href = __return -%}
					{%- assign __locale = site.data.locale.NEXT -%}
					{%- include snippets/locale-to-string.html -%}
					<div class="article-next"><span>{{ __return }}</span><a href="{{ href }}">{{ page.previous.title }}</a></div>
				{%- endif -%}
			</div>
			{%- if jekyll.environment != "development" and page.comment != false -%}
				<section>{%- include comment.html -%}</section>
			{%- endif -%}
		</div>
	</div>
</div>
