$base: (
  font-family:            (-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif),
  code-font-family:       (Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace),

  font-size-root:         16px,
  font-size:              1rem,

  font-size-h1:           2.3rem,
  font-size-h2:           1.8rem,
  font-size-h3:           1.5rem,
  font-size-h4:           1.2rem,
  font-size-h5:           1rem,
  font-size-h6:           1rem,
  font-size-sub:          .9rem,
  font-size-tiny:         .8rem,

  font-size-h1-small:     2rem,
  font-size-h2-small:     1.5rem,
  font-size-h3-small:     1.35rem,
  font-size-h4-small:     1.15rem,

  font-size-header-list:  1.4rem,
  font-size-h1-excerpt:   1rem,
  font-size-h2-excerpt:   .975rem,
  font-size-h3-excerpt:   .95rem,
  font-size-h4-excerpt:   .925rem,
  font-size-h5-excerpt:   .9rem,
  font-size-h6-excerpt:   .9rem,

  font-weight:            400,
  font-weight-bold:       700,

  line-height-small:      1.4,
  line-height:            1.6,
  line-height-large:      1.8,

  vertical-space:         .5rem,
  vertical-space-large:   1.4rem,
  horizontal-space:       .25rem,
  horizontal-item-vertical-space: .2rem
);

$shape: (
  round-length:           2rem,
  round-rect-radius:      .4rem,
);

$layout: (
  header-height:          5rem,
  header-height-small:    3rem,
  content-max-width:      750px,
  aside-width:            220px,
  footer-height:          12rem
);

$responsive: (
  s:                      500px,
  l:                      1024px
);

$animation: (
  duration:               .6s,
  timing-function:        ease
);
